<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clover cloud | Page not found</title>
  </head>
  <body class="not-found">
    <img
      src="https://cyberdefender.hk/wp-content/uploads/2021/07/404-01-scaled.jpg"
      alt="not found"
    />
  </body>
  <style>
    *,
    *::after,
    *::before {
      margin: 0;
      padding: 0;
    }
    .not-found {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #eaeaea;
    }
    .not-found img {
      height: 100%;
    }
  </style>
</html>
