<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../../partials/head.ejs", {title:"Clover cloud | Login"}) %>
  </head>
  <body>
    <%-include("../../partials/navbar.ejs") %>
    <form>
      <h1>Login</h1>
      <input type="email" name="email" required />
      <input type="password" name="password" required />
      <button type="reset">Reset</button>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
